<form method="POST" action="/news/{{id}}?_method=PUT">
    <h2>Cập nhật người dùng</h2>
    <input
        type="hidden"
        class="form-control"
        id="id"
        name="id"
        value="{{id}}"
    />
    <div class="mb-3 mt-2">
        <label for="firstname" class="form-label">First Name</label>
        <input
            type="text"
            class="form-control"
            id="firstname"
            name="firstname"
            value="{{firstname}}"
        />
    </div>
    <div class="mb-3">
        <label for="lastname" class="form-label">Last Name</label>
        <input
            type="text"
            class="form-control"
            id="lastname"
            name="lastname"
            value="{{lastname}}"
        />
    </div>
    <button type="submit" class="btn btn-primary">Sửa</button>
</form>